.about > table {
  width: 100%;
  margin: auto;
  border-spacing: .1rem;
}

.about caption {
  text-align: right;
  font-size: .6rem;
}

thead > tr {
  background-color: #bfbaa8;
}

thead th {
  padding: .2rem 0 .4rem;
  text-align: center;
  font-size: .7rem;
  font-weight: 900;
}

tbody td {
  padding: .2rem 0;
  text-align: center;
  font-size: .7rem;
}

tbody td:first-child {
  text-align: left;
  padding-left: .4rem;
}

/* zebra-stripe the alternating rows */
tbody tr:nth-of-type(odd) {
  background-color: #e6e6f7;
}

tfoot > tr {
  text-align: center;
  font-size: .6rem;
}

.about > aside {
  display: none;
}

main > .about a {
  margin-top: 2rem;
}

@media screen and (min-width: 48rem) {
  thead th,
  tbody td {
    font-size: .8rem;
  }

  tfoot > tr {
    font-size: .7rem;
  }

  main > .about > aside {
    display: block;
    width: 46%;
    font-size: .6rem;
    text-align: right;
    background-color: #d5d5f8;
    box-shadow: 1px 1px 2px #444;
    padding-right: .2rem;
    padding-bottom: .4rem;
    position: absolute;
    top: 2.6rem;
    left: .4rem;
    z-index: -1;
  }
}

@media screen and (min-width: 64rem) {
  .about table {
    border-spacing: .14rem;
  }

  .about caption,
  tfoot tr {
    font-size: .8rem;
  }

  head th,
  tbody td {
    font-size: 1rem;
  }

  main > .about > aside {
    width: 50%;
    font-size: .8rem;
    top: 3.1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}