.exploreMedia video {
  width: 100%;
  max-width: 100%;
}

#exploreJuneau {
  background-color: transparent;
  color: #15164b;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
  padding-top: .5rem;
  text-indent: 0;
  letter-spacing: -.2rem;
  text-align: center;
}

main .exploreOptions {
  list-style-type: none;
  list-style-image: none;
  text-align: center;
}

#mainContent .exploreOptions h3 {
  color: #444;
  font-size: 1.6rem;
  font-weight: 800;
  border-bottom: none;
  line-height: 1.8rem;
  margin-bottom: 0;
  text-align: center;
}

main .exploreOptions li a {
  display: inline-block;
  color: #555;
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (min-width: 64rem) {
  #mainContent {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  main .exploreOptions {
    text-align: left;
  }

  #mainContent .exploreOptions h3 {
    text-align: left;
  }

  main .exploreOptions li a {
    text-indent: 1rem;
  }
}